<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description>
		</description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.royalcuisine.utils.DBConnection</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BookTableServlet</display-name>
    <servlet-name>BookTableServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.BookTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookTableServlet</servlet-name>
    <url-pattern>/BookTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPackagesServlet</display-name>
    <servlet-name>GetPackagesServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.GetPackagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPackagesServlet</servlet-name>
    <url-pattern>/GetPackagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserManagementServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.UserManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManagementServlet</servlet-name>
    <url-pattern>/admin/UserManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReservationManagementServlet</display-name>
    <servlet-name>ReservationManagementServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ReservationManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationManagementServlet</servlet-name>
    <url-pattern>/admin/ReservationManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuManagementServlet</display-name>
    <servlet-name>MenuManagementServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.MenuManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuManagementServlet</servlet-name>
    <url-pattern>/admin/MenuManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BlogServlet</display-name>
    <servlet-name>BlogServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.BlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BlogServlet</servlet-name>
    <url-pattern>/admin/BlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageOffersServlet</display-name>
    <servlet-name>ManageOffersServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ManageOffersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageOffersServlet</servlet-name>
    <url-pattern>/admin/ManageOffersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageFeedbacksServlet</display-name>
    <servlet-name>ManageFeedbacksServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ManageFeedbacksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFeedbacksServlet</servlet-name>
    <url-pattern>/admin/ManageFeedbacksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagePackagesServlet</display-name>
    <servlet-name>ManagePackagesServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ManagePackagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagePackagesServlet</servlet-name>
    <url-pattern>/admin/ManagePackagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailSender</display-name>
    <servlet-name>EmailSender</servlet-name>
    <servlet-class>com.royalcuisine.utils.EmailSender</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSender</servlet-name>
    <url-pattern>/EmailSender</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessPaymentServlet</display-name>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ProcessPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessPaymentServlet</servlet-name>
    <url-pattern>/ProcessPaymentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadReportServlet</display-name>
    <servlet-name>DownloadReportServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.DownloadReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadReportServlet</servlet-name>
    <url-pattern>/admin/DownloadReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPasswordServlet</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableReservationServlet</display-name>
    <servlet-name>TableReservationServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.TableReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableReservationServlet</servlet-name>
    <url-pattern>/admin/TableReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableManagementServlet</display-name>
    <servlet-name>TableManagementServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.TableManagementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableManagementServlet</servlet-name>
    <url-pattern>/admin/TableManagementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendMessageServlet</display-name>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.royalcuisine.servlets.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/admin/SendMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
        <servlet-name>OpeningHoursServlet</servlet-name>
        <servlet-class>com.example.OpeningHoursServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>OpeningHoursServlet</servlet-name>
        <url-pattern>/admin/opening-hours-servlet</url-pattern>
    </servlet-mapping>
</web-app>